body {
  width: 100%;
  height: 100%;
  background-color: #FAF5F5;
  position: relative;
}

a {
  text-decoration: none;
}

.game-banner {
  color: blue;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 34px;
}

.game-banner-title {
  /*font-family: arial;*/
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;

  color: #343434;
  font-weight: bold;
  font-family: 'Ultra', sans-serif;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
  text-shadow: 0 2px white, 0 3px #777;
}

.game-div {
  position: relative;
  margin: 0 auto;

  -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);

  width: 700px;
  height: 700px;
}

.start-game {
  z-index: 101;
  position: absolute;
  margin: 0 auto;
}

.instructions-div {
  opacity: 1;
  z-index: 100;
  position: absolute;
  left: 50%;
  /*top: 50%;*/
  margin-left: -350px;
  /*margin-top: -350px;*/

  width: 700px;
  height: 700px;
}

.game-over-msg {
  opacity: 0;
}

.stage1-end {
  position: absolute;
  left: 50%;
  top: 50%;
  text-shadow: 2px 3px #534444, 3px 4px #898585;
  margin-left: -185px;
  margin-top: -85px;

  font-weight: bold;
  font-family: 'Ultra', sans-serif;
  font-size: 64px;

   opacity: 1;
   color: white;
   transition: opacity 2s ease-in-out;
   -moz-transition: opacity 2s ease-in-out;
   -webkit-transition: opacity 2s ease-in-out;
}

.stage2-start {
  position: absolute;
  left: 50%;
  top: 50%;
  text-shadow: 2px 3px #534444, 3px 4px #898585;
  margin-left: -185px;
  margin-top: -85px;

  font-weight: bold;
  font-family: 'Ultra', sans-serif;
  font-size: 64px;

   opacity: 0;
   color: white;
   transition: opacity 2s ease-in-out;
   -moz-transition: opacity 2s ease-in-out;
   -webkit-transition: opacity 2s ease-in-out;
}


.group:after{
  content:" ";
  display: block;
  clear: both;
}

.controls {
  margin: 20px auto;
  width: 700px;
}

.controls p {
  font-family: 'Ultra', sans-serif;
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
  margin-left: 15px;
}

.wasd-container {
  float: left;
  width: 380px;
  display: inline-block;
  margin-left: 40px;
}

.j-container {
  float: left;
  width: 275;
  display: inline-block;
}

.wasd-img, .movement, .fire, .j-img {
  float: left;
}

.j-img {
  margin-top: 10px;
}

/* restart btn, start btn */

.start-game {

  position: absolute;
  left: 50%;
  top: 56%;
  margin-left: -80px;
  margin-top: -39px;

   opacity: 1;

   background: #3498db;
   background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
   background-image: -moz-linear-gradient(top, #3498db, #2980b9);
   background-image: -ms-linear-gradient(top, #3498db, #2980b9);
   background-image: -o-linear-gradient(top, #3498db, #2980b9);
   background-image: linear-gradient(to bottom, #3498db, #2980b9);
   -webkit-border-radius: 10;
   -moz-border-radius: 10;
   border-radius: 10px;
   font-family: Arial;
   color: #ffffff;
   font-size: 30px;
   padding: 20px 40px 20px 40px;
   text-decoration: none;

   transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;
}

.restart-btn {
  opacity: 0;
  z-index: 101;
}

.restart-btn.visible {
  position: absolute;
  left: 50%;
  top: 56%;
  margin-left: -61px;
  margin-top: -23px;

   opacity: 1;

   background: #3498db;
   background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
   background-image: -moz-linear-gradient(top, #3498db, #2980b9);
   background-image: -ms-linear-gradient(top, #3498db, #2980b9);
   background-image: -o-linear-gradient(top, #3498db, #2980b9);
   background-image: linear-gradient(to bottom, #3498db, #2980b9);
   -webkit-border-radius: 10;
   -moz-border-radius: 10;
   border-radius: 10px;
   font-family: Arial;
   color: #ffffff;
   font-size: 30px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;

   transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;
}


.restart-btn:hover, .start-game:hover {
  text-decoration: none;
  cursor: pointer;
}

.restart-btn:focus {
  outline:0;
}

/*score*/
.score {
  color: #E1E1EC;
  line-height: 0;
  position: absolute;
  right: 2%;
  top: 6%;
  font-family: 'Gill Sans', sans-serif;
  font-size: 36px;
}

.highest-score-text {
  z-index: 102;
  color: #E1E1EC;
  line-height: 0;
  position: absolute;
  right: 2%;
  top: 2%;
  font-family: 'Gill Sans', sans-serif;
  font-size: 10px;
  text-shadow:  -1px 1px 5px #000, 1px 1px 5px #000;
  -moz-text-shadow:  -1px 1px 5px #000, 1px 1px 5px #000;
  -webkit-text-shadow:  -1px 1px 5px #000, 1px 1px 5px #000;

}


/*goal*/
.goal img {
  margin-top: 10px;
}

/*cover*/
#cover {
  z-index: 1000;
  background: url("images/preloader.gif") no-repeat scroll center center #FFF;
  position: absolute;
  height: 100%;
  width: 100%;
}
